ion-slides {
    height: 100%;
    img { border-radius: 20px;}
}

ion-slide{
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

ion-slide h1{
    text-align: center;
    vertical-align: 0%;
}