<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Filmes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let slide of slides" class="slide_image">
        <ion-row class="ion-justify-content-center">
          <ion-col>
            <pre></pre>
            <ion-row class="ion-justify-content-center">
              <h1>{{slide.titulo}}</h1>
            </ion-row>

            <ion-row class="ion-justify-content-center ion-margin-top">
              <img src="{{slide.imagem}}" />
            </ion-row>

            <ion-row class="ion-justify-content-center ion-margin-top">
              <ion-col size-md="6">
                <p>{{slide.descricao}}</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </ion-row>
</ion-content>
