<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-slides pager="true" [options]="slideOpts">

    <ion-slide class="slide_image">
      <div>
        <h1>Como eu era antes de você</h1>
        <p><img src="assets/images/como-eu-era-antes-de-voce.jfif"></p>
        <p>
          Resumo: O filme conta a história de Will Traynor, interpretado pelo ator Sam Clafin, é rico bem-sucedido e vive sua vida plenamente até que um dia, é atropelado por uma moto e fica gravemente ferido.
        </p>
      </div>
    </ion-slide>

    <ion-slide class="slide_image">
      <div>
        <h1>Interestelar</h1>
        <p><img src="assets/images/interestelar.jfif"></p>
        <p>
          Resumo: Interestelar (no original Interstellar ), lançado em 2014, é um filme de ficção científica dirigido por Christopher Nolan, escrito em parceria com o irmão Jonathan Nolan. O longa-metragem conta a complexa história de Cooper, um piloto da NASA que tem a difícil tarefa de salvar a espécie humana da extinção.
        </p>
      </div>
    </ion-slide>   
    
    <ion-slide class="slide_image">
      <div class= "vertical">
        <h1>O vendedor de sonhos</h1>
        <p><img src="assets/images/o-vendedor-de-sonhos.jfif"></p>
        <p>
          Resumo: O filme conta a história de um renomado psicólogo que, desiludido com a vida, está prestes a cometer suicídio saltando de um prédio quando é resgatado pelas palavras e atitude do mais improvável dos seres: um mendigo, conhecido como “mestre”. Apresentando-se como um vendedor desonhos, o Mestre oferece a Júlio César um dos seus mais preciosos bens - o sonho de recomeçar.
        </p>
      </div>
    </ion-slide>

    <ion-slide class="slide_image">
      <div>
        <h1>Querido John</h1>
        <p><img src="assets/images/querido-john.jfif"></p>
        <p>
          Resumo: "Querido John" narra a história de um jovem soldado americano, John, que se apaixona por Savannah uma estudante conservadora. Quando Savannah Lynn Curtis entra em sua vida, John Tyree sabe que está pronto para começar de novo. Ele, um jovem rebelde, se alista no exército logo após terminar a escola, sem saber o que faria de sua vida.
        </p>
      </div>
    </ion-slide>

    <ion-slide class="slide_image">
      <div>
        <h1>Matrix</h1>
        <p><img src="assets/images/matrix.jfif"></p>
        <p>
          Resumo: Matrix é um filme norte-americano de ação e ficção científica. O filme se passa em um futuro irreal, onde o mundo foi dominado por máquinas. O filme retrata a ficção científica com diversos efeitos sonoros e visuais, fato que coloca o filme como um marco para as próximas gerações de criadores de efeitos visuais.
        </p>
      </div>
    </ion-slide>

    <ion-slide class="slide_image">
      <div>
        <h1>Luca</h1>
        <p><img src="assets/images/luca.jpg"></p>
        <p>
          Resumo: Luca é um conto de fadas animado em italiano sobre dois jovens monstros marinhos explorando um mundo humano desconhecido, oferece o esplendor visual característico do estúdio, mas não se aventura fora de águas seguras.
        </p>
      </div>
    </ion-slide>


  </ion-slides>

</ion-content>