<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Séries</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-slides pager="true" [options]="slideOpts">

    <ion-slide class="slide_image">
      <div>
        <h1>Blindspot</h1>
        <p><img src="assets/images/blindspot.jpg"></p>
        <p>
          Resumo: Blindspot é uma série norte-americana, criada por Martin Gero, que apresenta a história de uma mulher misteriosa aparece nua em plena Times Square, completamente coberta por misteriosas e complexas tatuagens, sem memória de quem é e de como chegou ali. Porém, um nome se destaca em meio a todos os desenhos: o do agente do FBI Kurt Weller.
        </p>
      </div>
    </ion-slide>

    <ion-slide class="slide_image">
      <div>
        <h1>Lúcifer</h1>
        <p><img src="assets/images/lucifer.jfif"></p>
        <p>
          Resumo: Lucifer é uma série de fantasia e investigação policial com elementos cômicos e sobrenaturais, baseada nos quadrinhos do selo Vertigo (uma divisão da DC Comics).
        </p>
      </div>
    </ion-slide>   
    
    <ion-slide class="slide_image">
      <div>
        <h1>La casa de papel</h1>
        <p><img src="assets/images/la-casa-de-papel.jpg"></p>
        <p>
          Resumo: La Casa de Papel conta a história de um grupo de assaltantes, reunidos pelo gênio do crime Professor, que elabora um plano de roubo à Casa da Moeda Espanhola. O Professor é a figura que recruta o bando de criminosos para realizar o assalto, que tem como objetivo se infiltrar na Casa da Moeda e imprimir bilhões de euros em cédulas de dinheiro.
        </p>
      </div>
    </ion-slide>

    <ion-slide class="slide_image">
      <div>
        <h1>Altered Carbon</h1>
        <p><img src="assets/images/altered-carbon.jfif"></p>
        <p>
          Resumo: Baseada no romance de ficção científica de Richard K. Morgan, Altered Carbon se passa no século 25, quando a mente humana é digitalizada, e a alma pode ser transferida de um corpo para o outro. Joel Kinnaman interpreta Takeshi Kovacs, um antigo guerreiro de elite que foi congelado por 250 anos.
        </p>
      </div>
    </ion-slide>

    <ion-slide class="slide_image">
      <div>
        <h1>Brooklyn Nine-Nine</h1>
        <p><img src="assets/images/brooklyn.jfif"></p>
        <p>
          Resumo: Brooklyn Nine-Nine ou B99 é uma série de televisão de comédia policial americana criada por Dan Goor e Michael Schur. A série gira em torno de Jake Peralta ( Andy Samberg ), um imaturo, mas talentoso, detetive da polícia de Nova York na fictícia 99.ª Delegacia do Brooklyn, que muitas vezes entra em conflito com seu novo comandante, o sério e severo capitão Raymond Holt ( Andre Braugher ).
        </p>
      </div>
    </ion-slide>

    <ion-slide class="slide_image">
      <div>
        <h1>Lupin</h1>
        <p><img src="assets/images/lupin.jfif"></p>
        <p>
          Resumo: Baseada nos romances policiais de Maurice Leblanc, Lupin acompanha Assane Diop (Omar Sy), um homem que, 25 anos atrás, viu sua vida virar de cabeça para baixo com a morte de seu pai, então acusado injustamente de um crime.
        </p>
      </div>
    </ion-slide>

  </ion-slides>

</ion-content>
